
@font-face {
    font-family: inter;
    src: url("Inter.ttf");
}
body {
    width:100%;
    height:100%; /* safari, its always you, why the fuck do you not make this default. also why does css not have single line comments*/
}
fieldset {
    margin-top:5px;
    border-radius:5px;
    max-width:50%;
}
::-webkit-scrollbar {
    display: none;
}
option:checked {
    display: none;
}
* {
    font-family: inter;
    text-shadow:0 0 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
img:hover, iframe:hover,video:hover,audio:hover,b {
    animation-name:boldText;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function:linear;
}
b {
    animation-duration: 0.6s;
}
img:hover, iframe:hover,video:hover,audio:hover {
    animation-duration: 2s;
}
input,select {
    border: solid 2px;
    border-radius:5px; 
}
input[type=file] {
    width:100%;
}
::file-selector-button {      
    border-radius: 5px;
    cursor:pointer;
    font-family: inter;
}
a {
    text-decoration:none;
}
input[type=submit]:hover {
    cursor:pointer;
    animation-name: hoveranim;
}
input[type=file]:hover {
    animation-name: hoveranim2;
}
input:hover {
    animation-duration: 0.6s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function:linear;
}
input[type=text]:hover {
    animation-name: hoveranim3;
}
.fieldScale {
    width:1%;
    white-space: nowrap;
}
*::selection {
    background:none;
}
.golden {
    color:gold !important;
    text-shadow:0 0 10px gold !important;
}
.diamond {
    color:cyan !important;
    text-shadow:0 0 10px cyan !important;
}